################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/scr/.vs
**/bin
**/obj
*.user

**/appsettings.Development.json
